body,
input,
button {
  font-size: 1.25em;
}

button {
  border: none;
  background-color: #61dafb;
  padding: 0.25em 0.5em;
  border-radius: 0.15em;
  transition: all 250ms ease-in-out;
}

button:hover {
  filter: hue-rotate(90deg);
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

button + button {
  margin-left: 0.5em;
}

.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  left: 0;
  height: 100%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
  color: white;
  background-color: #282c34;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.App-header button {
  background-color: transparent;
  color: white;
  border: none;
  filter: none;
  border-radius: 0;
  margin: 0;
}

.App-header button:hover {
  background-color: #61dafb;
  color: #282c34;
  filter: hue-rotate(90deg);
}

.App-header button[data-selected='true'] {
  background-color: #61dafb;
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 2em;
  min-width: 5em;
  min-height: 3em;
}

.component + .component {
  margin-top: 1em;
}

.component.component--class {
  background-color: coral;
}

.component.component--func {
  background-color: cornflowerblue;
}
